
/client/whatever/Library/
/client/whatever/Packages/
/client/whatever/publish/
/client/whatever/Temp/
/client/whatever/Assembly-CSharp.csproj
/client/whatever/Assembly-CSharp-Editor.csproj
/client/whatever/whatever.sln
