[submodule "mqant"]
	path = mqant
	url = https://github.com/liangdas/mqant.git
[submodule "server/mqantserver"]
	path = server/mqantserver
	url = https://github.com/liangdas/mqantserver.git
[submodule "client/whatever2/Assets/Third/xLua"]
	path = client/whatever2/Assets/Third/xLua
	url = https://github.com/Tencent/xLua.git
